# Содержание:

1. [Задание 1.](#intro)
2. [Задание 2.](#intro1) 
3. [Задание 3.](#intro2)
4. [Задание 4.](#intro3)
5. [Задание 5.](#intro4)
6. [Задание 6.](#intro5) 
7. [Задание 7.](#intro6) 
8. [Задание 8.](#intro7) 
9. [Задание 9.](#intro8) 
10. [Задание 10.](#intro9)
11. [Задание 11.](#intro10)
12. [Задание 12.](#intro11)
13. [Задание 13.](#intro12)
14. [Задание 14.](#intro13)
15. [Задание 15.](#intro14)
16. [Задание 16.](#intro15)
17. [Задание 17.](#intro16)
18. [Задание 18.](#intro17)
19. [Задание 19.](#intro18)
20. [Задание 20.](#intro19)
21. [Задание 21.](#intro20)
22. [Задание 22.](#intro21)
23. [Задание 23.](#intro22)

# Самостоятельный проект: Базовый SQL.

**Цель исследования:** проанализировать данные о фондах и инвестициях и написать запросы к базе.

**Входные данные:** база данных, которая хранит информацию о венчурных фондах и инвестициях в компании-стартапы. Эта база данных основана на датасете Startup Investments, опубликованном на популярной платформе для соревнований по исследованию данных Kaggle.

In [ ]:
# импортирование библиотеки pandas
import pandas as pd

# импортирование библиотеки sqlalchemy и
# функции create_engine
from sqlalchemy import create_engine

### 1. Конфигурация для подключения к базе данных.

В связи с тем, что представленные ниже задачи выполнялись в тренажёре `Яндекс Практикума`, у нас нет информации по настройкам для подключения к опеределённой учетной записи базы данных. Поэтому вывести результаты запросов не предоставляется возможным.

In [ ]:
# создание переменной db_config, где
# указаны данные для подключения к БД и
# создание строки connection_string

db_config = {
    'user': 'praktikum_student', # имя пользователя
    'pwd': '*****', # пароль
    'host': '*****.mdb.yandexcloud.net',
    'port': 6432, # порт подключения
    'db': '*****' # название базы данных
}  

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)

Создание подключения

In [ ]:
# создание подключения к БД

engine = create_engine(connection_string)

## Задание 1. <a id='intro'></a>

Посчитайте, сколько компаний закрылось.

In [ ]:
# создание запроса

query = '''
SELECT COUNT(status) AS closed_company
FROM company
WHERE status = 'closed';
'''

# выполнение запроса с сохранением 
# в переменную df_1

df_1 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_1

df_1

## Задание 2. <a id='intro1'></a>

Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле `funding_total`.

In [ ]:
# создание запроса

query = '''
SELECT funding_total AS sum_funding_total
FROM company
WHERE category_code = 'news'
      AND country_code = 'USA'
ORDER BY sum_funding_total DESC;
'''

# выполнение запроса с сохранением 
# в переменную df_2

df_2 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_2

df_2

## Задание 3. <a id='intro2'></a>

Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

In [ ]:
# создание запроса

query = '''
SELECT SUM(price_amount) AS sum_price_amount
FROM acquisition
WHERE term_code = 'cash'
      AND EXTRACT(YEAR FROM CAST(acquired_at AS timestamp)) BETWEEN '2011' AND '2013';
'''

# выполнение запроса с сохранением 
# в переменную df_3

df_3 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_3

df_3

## Задание 4. <a id='intro3'></a>

Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на `Silver`.

In [ ]:
# создание запроса

query = '''
SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';
'''

# выполнение запроса с сохранением 
# в переменную df_4

df_4 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_4

df_4

## Задание 5. <a id='intro4'></a>

Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку `money`, а фамилия начинается на `K`.

In [ ]:
# создание запроса

query = '''
SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
      AND last_name LIKE 'K%';
'''

# выполнение запроса с сохранением 
# в переменную df_5

df_5 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_5

df_5

## Задание 6. <a id='intro5'></a>

Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

In [ ]:
# создание запроса

query = '''
SELECT SUM(funding_total) AS sum_funding_total,
       country_code AS country
FROM company
GROUP BY country
ORDER BY sum_funding_total DESC;
'''

# выполнение запроса с сохранением 
# в переменную df_6

df_6 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_6

df_6

## Задание 7. <a id='intro6'></a>

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.

Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

In [ ]:
# создание запроса

query = '''
SELECT funded_at AS round_date,
       MAX(raised_amount) AS max_raised_amount,
       MIN(raised_amount) AS max_raised_amount
FROM funding_round
GROUP BY round_date
HAVING MIN(raised_amount) <> 0 
       AND MIN(raised_amount) <> MAX(raised_amount);
'''

# выполнение запроса с сохранением 
# в переменную df_7

df_7 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_7

df_7

## Задание 8. <a id='intro7'></a>

Создайте поле с категориями:

* Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию `high_activity`.

* Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию `middle_activity`.

* Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию `low_activity`.
 
Отобразите все поля таблицы `fund` и новое поле с категориями.

In [ ]:
# создание запроса

query = '''
SELECT *,
       CASE
       WHEN invested_companies >= 100 THEN 'high_activity'
       WHEN invested_companies >= 20 AND invested_companies < 100 THEN 'middle_activity'
       WHEN invested_companies < 20 THEN 'low_activity'
       END
FROM fund;
'''

# выполнение запроса с сохранением 
# в переменную df_8

df_8 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_8

df_8

## Задание 9. <a id='intro8'></a>

Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

In [ ]:
# создание запроса

query = '''
SELECT ROUND(AVG(investment_rounds)) AS avg_investment_rounds,
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund
GROUP BY activity
ORDER BY ROUND(AVG(investment_rounds));
'''

# выполнение запроса с сохранением 
# в переменную df_9

df_9 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_9

df_9

## Задание 10. <a id='intro9'></a>

Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы. 


Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Выгрузите десять самых активных стран-инвесторов.


Отсортируйте таблицу по среднему количеству компаний от большего к меньшему, а затем по коду страны в лексикографическом порядке.

In [ ]:
# создание запроса

query = '''
SELECT country_code AS country,
       MIN(invested_companies) AS min_invested_companies,
       MAX(invested_companies) AS max_invested_companies,
       AVG(invested_companies) AS avg_invested_companies
FROM fund
WHERE EXTRACT(YEAR FROM CAST(founded_at AS timestamp)) BETWEEN 2010 AND 2012
GROUP BY country
HAVING MIN(invested_companies) <> 0
ORDER BY avg_invested_companies DESC
LIMIT 10;
'''

# выполнение запроса с сохранением 
# в переменную df_10

df_10 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_10

df_10

## Задание 11. <a id='intro10'></a>

Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

In [ ]:
# создание запроса

query = '''
SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p
LEFT OUTER JOIN education AS e ON p.id = e.person_id;
'''

# выполнение запроса с сохранением 
# в переменную df_11

df_11 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_11

df_11

## Задание 12. <a id='intro11'></a>

Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

In [ ]:
# создание запроса

query = '''
SELECT c.name,
       COUNT(DISTINCT e.instituition) AS count_instituition
FROM company AS c
INNER JOIN people AS p ON c.id = p.company_id
INNER JOIN education AS e ON p.id = e.person_id
GROUP BY c.name
ORDER BY count_instituition DESC,
         c.name
LIMIT 5;
'''

# выполнение запроса с сохранением 
# в переменную df_12

df_12 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_12

df_12

## Задание 13. <a id='intro12'></a>

Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

In [ ]:
# создание запроса

query = '''
SELECT DISTINCT c.name
FROM company AS c
INNER JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
      AND fr.is_first_round = 1 
      AND fr.is_last_round = 1
GROUP BY c.name;
'''

# выполнение запроса с сохранением 
# в переменную df_13

df_13 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_13

df_13

## Задание 14. <a id='intro13'></a>

Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

In [ ]:
# создание запроса

query = '''
SELECT p.id
FROM people AS p
INNER JOIN company AS c ON p.company_id = c.id
INNER JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
      AND fr.is_first_round = 1 
      AND fr.is_last_round = 1
GROUP BY p.id;
'''

# выполнение запроса с сохранением 
# в переменную df_14

df_14 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_14

df_14

## Задание 15. <a id='intro14'></a>

Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

In [ ]:
# создание запроса

query = '''
WITH
i AS (SELECT p.id
     FROM people AS p
     INNER JOIN company AS c ON p.company_id = c.id
     INNER JOIN funding_round AS fr ON c.id = fr.company_id
     WHERE c.status = 'closed'
           AND fr.is_first_round = 1 
           AND fr.is_last_round = 1
     GROUP BY p.id)
     
SELECT i.id,
       e.instituition
FROM i
INNER JOIN education AS e ON e.person_id = i.id
GROUP BY i.id,
         e.instituition;
'''

# выполнение запроса с сохранением 
# в переменную df_15

df_15 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_15

df_15

## Задание 16. <a id='intro15'></a>

Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.

In [ ]:
# создание запроса

query = '''
WITH
i AS (SELECT p.id
     FROM people AS p
     INNER JOIN company AS c ON p.company_id = c.id
     INNER JOIN funding_round AS fr ON c.id = fr.company_id
     WHERE c.status = 'closed'
           AND fr.is_first_round = 1 
           AND fr.is_last_round = 1
     GROUP BY p.id)
     
SELECT i.id,
       COUNT(e.instituition)
FROM i
INNER JOIN education AS e ON e.person_id = i.id
GROUP BY i.id;
'''

# выполнение запроса с сохранением 
# в переменную df_16

df_16 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_16

df_16

## Задание 17. <a id='intro16'></a>

Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

In [ ]:
# создание запроса

query = '''
WITH
i AS (SELECT p.id
     FROM people AS p
     INNER JOIN company AS c ON p.company_id = c.id
     INNER JOIN funding_round AS fr ON c.id = fr.company_id
     WHERE c.status = 'closed'
           AND fr.is_first_round = 1 
           AND fr.is_last_round = 1
     GROUP BY p.id),
i_1 AS (SELECT i.id,
               COUNT(e.instituition) AS count_instituition
       FROM i
       INNER JOIN education AS e ON e.person_id = i.id
       GROUP BY i.id)
       
SELECT AVG(i_1.count_instituition)
FROM i_1;
'''

# выполнение запроса с сохранением 
# в переменную df_17

df_17 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_17

df_17

## Задание 18. <a id='intro17'></a>

Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook.

In [ ]:
# создание запроса

query = '''
WITH
i AS (SELECT p.id
     FROM people AS p
     INNER JOIN company AS c ON p.company_id = c.id
     INNER JOIN funding_round AS fr ON c.id = fr.company_id
     WHERE c.name = 'Facebook'
     GROUP BY p.id),
i_1 AS (SELECT i.id,
               COUNT(e.instituition) AS count_instituition
       FROM i
       INNER JOIN education AS e ON e.person_id = i.id
       GROUP BY i.id)
       
SELECT AVG(i_1.count_instituition)
FROM i_1;
'''

# выполнение запроса с сохранением 
# в переменную df_18

df_18 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_18

df_18

## Задание 19. <a id='intro18'></a>

Составьте таблицу из полей:

* `name_of_fund` — название фонда;
* `name_of_company` — название компании;
* `amount` — сумма инвестиций, которую привлекла компания в раунде.


В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

In [ ]:
# создание запроса

query = '''
SELECT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM company AS c
INNER JOIN funding_round AS fr ON c.id = fr.company_id
INNER JOIN investment AS i ON i.funding_round_id = fr.id
INNER JOIN fund AS f ON f.id = i.fund_id
WHERE c.milestones > 6
      AND EXTRACT(YEAR FROM CAST(fr.funded_at AS timestamp)) BETWEEN 2012 AND 2013;
'''

# выполнение запроса с сохранением 
# в переменную df_19

df_19 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_19

df_19

## Задание 20. <a id='intro19'></a>

Выгрузите таблицу, в которой будут такие поля:

* название компании-покупателя;

* сумма сделки;

* название компании, которую купили;

* сумма инвестиций, вложенных в купленную компанию;

* доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.


Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы. 


Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

In [ ]:
# создание запроса

query = '''
SELECT c.name AS name_acquiring,
       a.price_amount,
       c_1.name AS name_acquired,
       c_1.funding_total,
       ROUND(a.price_amount / c_1.funding_total) 
FROM acquisition AS a
LEFT OUTER JOIN company AS c ON c.id = a.acquiring_company_id
LEFT OUTER JOIN company AS c_1 ON c_1.id = a.acquired_company_id
WHERE a.price_amount <> 0
      AND c_1.funding_total <> 0
ORDER BY a.price_amount DESC
LIMIT 10;
'''

# выполнение запроса с сохранением 
# в переменную df_20

df_20 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_20

df_20

## Задание 21. <a id='intro20'></a>

Выгрузите таблицу, в которую войдут названия компаний из категории `social`, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.

In [ ]:
# создание запроса

query = '''
SELECT c.name,
       EXTRACT(MONTH FROM CAST(fr.funded_at AS timestamp)) AS month_funded_at
FROM company AS c
INNER JOIN funding_round AS fr ON c.id = fr.company_id
WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS timestamp)) BETWEEN 2010 AND 2013
      AND c.category_code = 'social';
'''

# выполнение запроса с сохранением 
# в переменную df_21

df_21 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_21

df_21

## Задание 22. <a id='intro21'></a>

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:


* номер месяца, в котором проходили раунды;
* количество уникальных названий фондов из США, которые инвестировали в этом месяце;
* количество компаний, купленных за этот месяц;
* общая сумма сделок по покупкам в этом месяце.

In [ ]:
# создание запроса

query = '''
WITH
i_1 AS (SELECT EXTRACT(MONTH FROM CAST(fr.funded_at AS timestamp)) AS month,
               COUNT(DISTINCT f.name) AS count_name_fund
        FROM funding_round AS fr
        INNER JOIN investment AS i ON fr.id = i.funding_round_id
        INNER JOIN fund AS f ON f.id = i.fund_id
        WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS timestamp)) BETWEEN 2010 AND 2013
              AND f.country_code = 'USA'
        GROUP BY month),
i_2 AS (SELECT EXTRACT(MONTH FROM CAST(acquired_at AS timestamp)) AS month,
            COUNT(acquired_company_id) AS count_acquired_company,
            SUM(price_amount) AS sum_price_amount
       FROM acquisition
       WHERE EXTRACT(YEAR FROM CAST(acquired_at AS timestamp)) BETWEEN 2010 AND 2013
       GROUP BY month)
     
SELECT i_1.month,
       i_1.count_name_fund,
       i_2.count_acquired_company,
       i_2.sum_price_amount
FROM i_1
INNER JOIN i_2 ON i_1.month = i_2.month;
'''

# выполнение запроса с сохранением 
# в переменную df_22

df_22 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_22

df_22

## Задание 23. <a id='intro22'></a>

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

In [ ]:
# создание запроса

query = '''
WITH 
i AS (SELECT country_code,
             AVG(funding_total) AS avg_funding_total_2011
      FROM company
      WHERE EXTRACT(YEAR FROM CAST(founded_at AS timestamp)) = 2011
      GROUP BY country_code),
i_1 AS (SELECT country_code,
             AVG(funding_total) AS avg_funding_total_2012
        FROM company
        WHERE EXTRACT(YEAR FROM CAST(founded_at AS timestamp)) = 2012
        GROUP BY country_code),
i_2 AS (SELECT country_code,
             AVG(funding_total) AS avg_funding_total_2013
        FROM company
        WHERE EXTRACT(YEAR FROM CAST(founded_at AS timestamp)) = 2013
        GROUP BY country_code)
        
SELECT i.country_code,
       i.avg_funding_total_2011,
       i_1.avg_funding_total_2012,
       i_2.avg_funding_total_2013
FROM i
INNER JOIN i_1 ON i.country_code = i_1.country_code
INNER JOIN i_2 ON i_1.country_code = i_2.country_code
ORDER BY i.avg_funding_total_2011 DESC;
'''

# выполнение запроса с сохранением 
# в переменную df_23

df_23 = pd.read_sql_query(query, con = engine)

In [ ]:
# получение данных запроса 
# из переменной df_23

df_23